@model GeneaPam.Api.Features.Auth.Emails.AccountDeletedEmailModel
<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8"><title>Account Deleted</title></head>
<body>
  <h1>Your account has been deleted</h1>
  <p>Hi @Model.UserName,</p>
  <p>Your Genea account and all associated data have been permanently deleted.</p>
  <p>We're sorry to see you go. If this was a mistake, please contact support.</p>
</body>
</html>
